<style>
    .welcomeImage{
       width:8em;
       margin-right: 5em;;
       border:10px solid green;
       border-radius: 16px;
    }

</style>

<div class="row">
    <div class="col-4 ml-5 mt-5">Get a quote<br> <span class="mt-5">Contact</span></div>
    <div class="col-4"><img class="welcomeImage mt-5 ml-5" style="width:12em" src="assets/img/flowercomputer.jpg"/>
    </div>
    <div class="col-4"></div>
</div>
<hr>
<div class="row">
    <div class="col-5 h3 ml-2 mt-3">Computer Assistance</div>
   
    <div class="col-6 text-center "><h6 class="mt-2" >I offer <strong>Free</strong> 15 minute computer diagnostic if you hire me to fix the problem! All services listed under 'Services'</h6></div>

</div>
<hr>
<div class="row">
    <div class="col-5 h3 ml-2 mt-3">Handyman Assistance</div>
    <div class="col-6 text-center "><h6 class="mt-2">Give me a call or setup an appointment for help with any projects you need done around the house or around the yard!</h6></div>
    <div class="col-2"></div>
</div>
<hr>
<div class="row">
    <div class="col"></div>
    <div class="col-8"><h1 class="mt-2 text-center">About Me</h1></div>
    <div class="col"></div>

</div>
<div class="row" style="margin-bottom: 200px;">
    <div class="col"></div>
    <div class="col-8"><p class="mt-2 text-center">I am a trained Software Developer trained out of Reston, Virginia, the Silicone Valley of the East. I am also a Hard Worker who does not mind putting his hands to work and getting them dirty.
        I moved around a lot when I was young, but base myself originally out of upstate New York (although I was born here in Florida ).
       I studied and recieved a Bachelors of Science in Psychology and a Bachelors of Arts in International Studies from Cazenovia College in December of 2019.
       My parents and grandparents moved down to the Plantation here in Leesburg, and I followed to be closer to them.</p>
       <hr>
        <h1 class="text-center">Integrity</h1>
       <p class="text-center">
       I've started this business to give you my best work ethic and to give me the freedom to make my own schedule. I've always enjoyed computers and work with them daily, and can do many household repairs and maintence.
       Honesty is a big part of running a successful business, so have no fear as I am a firm believer in Karma, what comes around goes around! 
       </p><hr><p>
       If you've enjoyed my services in the past please leave me a review on the <a href="https://facebook.com/yardandcomputer" >YardAndComputer Facebook Page</a> and the <a href="https://nextdoor.com/pages/rahb-young-leesburg-fl/recommend/">NextDoor App</a> if you have it!</p></div>
    <div class="col"></div>

</div>

